Flask==2.1.2
Flask-Security-Too==4.1.4
Flask-Caching==1.10.1
python-dotenv==0.20.0
Flask-SQLAlchemy==2.5.1
Flask-Babel==2.0.0
email-validator==1.2.1
bcrypt==3.2.2
cryptography==37.0.2
PyQRCode==1.2.1
phonenumberslite==8.12.46
zxcvbn==4.4.28
Flask-Mail==0.9.1
bleach==5.0.0
google-analytics-data==0.12.0