{% extends "base_templates/base.html" %}

{% block title %}{{_("Minecraft Server")}}{% endblock %}

{% block body %}
<div class="container my-4">
    <h2 class="text-center">{{_("Minecraft Server")}}</h2>
	
    {% for server in servers %}
    <div class="my-5 px-4 border-light border-1 border bg-white shadow rounded-3 p-3">
        {% if server.stat == "ON" %}
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-dot text-success mb-1 me-2" viewBox="0 0 16 16" data-bs-toggle="tooltip" title="{{_("ONLINE")}}">
            <path d="M1.15 9.5a7 7 0 1 0 0-3 7 7 0 0 0 0 3z"/>
        </svg>
        {% elif server.stat == "OF" %}
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-dot text-danger mb-1 me-2" viewBox="0 0 16 16" data-bs-toggle="tooltip" title="{{_("OFFLINE")}}">
            <path d="M1.15 9.5a7 7 0 1 0 0-3 7 7 0 0 0 0 3z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-dot text-danger mb-1 me-2" viewBox="0 0 16 16" data-bs-toggle="tooltip" title="{{_("ERROR")}}">
            <path d="M1.15 9.5a7 7 0 1 0 0-3 7 7 0 0 0 0 3z"/>
        </svg>
        {% endif %}
        
		<p class="d-inline" style="font-size: 22px;">{{server.ip}}</p><br>
        <div class="text-secondary">{{server.desc}}</div>
        
        <hr>
        <i class="bi bi-speedometer" style="font-size: 30px;"></i><h4 class="ms-3 d-inline">{{_("Server status:")}}</h4>
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{_("Operation status:")}}

                {% if server.stat == "ON" %}
                <span class="badge bg-success rounded-pill">{{_("ONLINE")}}</span>
                {% elif server.stat == "OF" %}
                <span class="badge bg-danger rounded-pill">{{_("OFFLINE")}}</span>
                {% else %}
                <span class="badge bg-danger rounded-pill">{{_("ERROR")}}</span>
                {% endif %}
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{_("Players:")}}
                <span class="badge rounded-pill" style="background-color: #4ec202;">{{server.p_online}} / {{server.p_total}}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{_("IP Address:")}}
                <button id="copyBtn{{loop.index}}" class="bg-transparent border-0 p-0 ps-1" onclick="copyIP{{loop.index}}()" data-bs-toggle="tooltip" data-bs-placement="left" title="{{_("Copy!")}}"><span class="badge bg-primary rounded-pill">{{server.ip}}</span></button>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{_("Minecraft version:")}}
                <span class="badge rounded-pill" style="background-color: #4ec202;">{{server.version}}</span>
            </li>
            
            {% if server.modded %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{_("Mod loader:")}}
                <a href="{{server.modloader_link}}" class="badge rounded-pill text-decoration-none text-white" style="background-color: #ff7300;">{{server.modloader}}</a>
            </li>
            {% endif %}

            <div class="accordion accordion-flush">
                {% if server.modded %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed p-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelNo1{{loop.index}}">
                            <strong>{{_("Mods list")}}</strong>
                        </button>
                    </h2>
                    
                    <div id="panelNo1{{loop.index}}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <a href="{{server.mods_zip}}">{{_("Download mods zip file (Contains all of the mods below)")}}</a>

                            <ul class="mt-4">
                                {% for mod in server.mods %}
                                <li>{{mod.title}}</li>
                                <dl><a href="{{mod.link}}">{{mod.link}}</a></dl>
                                {% else %}
                                <p class="my-5">Oops no servers were found!<br> 
                                This is probably a bug, please report it <a href="https://github.com/Gigawhat-net/Gigawhat-Website/issues/new?assignees=samyarsadat&labels=bug+unconfirmed&template=bug_report.md&title=">here</a>.</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                    
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed p-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelNo2{{loop.index}}">
                            <strong>{{_("Online players")}}</strong>
                        </button>
                    </h2>
                    
                    <div id="panelNo2{{loop.index}}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                {% if server.players %}
                                    {% for player in server.players %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <h5 class="font-monospace">{{player}}</h5>
                                        <img class="pixelated" src="https://mc-heads.net/avatar/{{player}}" width="50">
                                    </li>
                                    {% endfor %}
                                {% else %}
                                    <h4>{{_("No one is online!")}}<h4>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </ul>

        <input class="d-none" type="text" value="{{server.ip}}" id="IPAdd{{loop.index}}">

        <script>
            async function copyIP{{loop.index}}() 
            {
                const copyText = document.getElementById("IPAdd{{loop.index}}");
                const tooltip = bootstrap.Tooltip.getInstance("#copyBtn{{loop.index}}")
        
                copyText.select();
                copyText.setSelectionRange(0, 99999);
        
                navigator.clipboard.writeText(copyText.value);
                
                tooltip.setContent({".tooltip-inner": "{{_("Copied!")}}"})
                await new Promise(r => setTimeout(r, 800));
                tooltip.hide()
                tooltip.setContent({".tooltip-inner": "{{_("Copy!")}}"})
            }
        </script>
	</div>
    {% else %}
    <p class="my-5">Oops no servers were found!<br> 
    This is probably a bug, please report it <a href="https://github.com/Gigawhat-net/Gigawhat-Website/issues/new?assignees=samyarsadat&labels=bug+unconfirmed&template=bug_report.md&title=">here</a>.</p>
    {% endfor %}
</div>
{% endblock %}

{% block end %}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}