/*
    Copyright 2022 Gigawhat Programming Team
    Main CSS styling file.

    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated 
    documentation files (the "Software"), to deal in the Software without restriction, including without limitation 
    the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, 
    and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
     
    The above copyright notice and this permission notice shall be included in all copies or substantial 
    portions of the Software.
 
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT 
    LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
    IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
    WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
    SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.w-40 {
    width: 40%;
}

.h-opacity-50:hover {
    transition: 0.3s;  
    opacity: 50%;
}

.h-opacity-50 {
    transition: 0.3s;
}

.h-color-white:hover {
    transition: 0.3s;
    color: white;
}

.h-color-white {
    transition: 0.3s;
    color: gray;
}

.carousel-caption {
    bottom: 8rem;
    z-index: 10;
}

.carousel-item {
    height: 28rem;
}

.carousel-item > img {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 28rem;
}

.pixelated {
    image-rendering: pixelated;
}
