{% extends "en_us/base_templates/base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="imgCarousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
	    <button type="button" data-bs-target="#imgCarousel" data-bs-slide-to="0" class="active"></button>
	    <button type="button" data-bs-target="#imgCarousel" data-bs-slide-to="1"></button>
	    <button type="button" data-bs-target="#imgCarousel" data-bs-slide-to="2"></button>
	</div>
	
	<div class="carousel-inner">
	    <div class="carousel-item active">
			<img src="../../static/img/carousel/placeholder2.png">

			<div class="carousel-caption">
				<h1>Lorem ipsum dolor sit amet</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at augue vitae est consequat dapibus quis eget neque.</p>
				<p><a class="btn btn-md btn-outline-light" href="#">Learn more</a></p>
			</div>
	    </div>
	    
		<div class="carousel-item">
			<img src="../../static/img/carousel/placeholder2.png">

			<div class="carousel-caption">
				<h1>Lorem ipsum dolor sit amet</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at augue vitae est consequat dapibus quis eget neque.</p>
				<p><a class="btn btn-md btn-outline-light" href="#">Learn more</a></p>
			</div>
	    </div>
	    
		<div class="carousel-item">
			<img src="../../static/img/carousel/placeholder2.png">

			<div class="carousel-caption">
				<h1>Lorem ipsum dolor sit amet</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at augue vitae est consequat dapibus quis eget neque.</p>
				<p><a class="btn btn-md btn-outline-light" href="#">Learn more</a></p>
			</div>
	    </div>
	</div>
	
	<button class="carousel-control-prev" type="button" data-bs-target="#imgCarousel" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	    <span class="visually-hidden">Previous</span>
	</button>
	
	<button class="carousel-control-next" type="button" data-bs-target="#imgCarousel" data-bs-slide="next">
	    <span class="carousel-control-next-icon"></span>
	    <span class="visually-hidden">Next</span>
	</button>
</div>

<div class="bg-dark text-light shadow" id="about">
	<h1 class="text-center pt-5">About Gigawhat</h1>

	<div class="album pb-sm-5 pt-5 pb-4">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 g-3">
				<div class="col">
					<img class="card-img rounded-3 shadow w-100" src="../../static/img/carousel/placeholder.png">
				</div>
	
				<div class="col m-0">
					<div class="card-body">
						<p class="card-text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at augue vitae est consequat dapibus quis eget neque. 
							Donec mauris urna, suscipit in dignissim non, dignissim ut enim. Pellentesque eget consequat magna. Nam feugiat imperdiet velit, 
							non imperdiet ante accumsan a. Nam enim erat, congue nec fringilla ut, rhoncus in mauris. Praesent fringilla nunc ac bibendum porttitor. 
							Quisque ultricies cursus eros vitae sodales.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h1 class="text-center pt-4">News</h1>

<div class="album pt-sm-5 pb-sm-5 pt-5 pb-4">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			{% for post in posts %}
			<div class="col">
				<div class="card shadow">
					<img class="card-img-top w-100" src="{{post.thumb_url}}">

					<div class="card-body">
						<p class="card-text">{{post.title}}</p>
							
						<div class="d-flex justify-content-between align-items-center">
							<a href="{{post.url}}" class="btn btn-sm btn-outline-secondary">Read More</a>
							<small class="text-muted">{{post.read_dur}}</small>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<p class="my-5">Oops no news posts were found!<br> This is probably a bug, please report it <a href="https://github.com/Gigawhat-net/Gigawhat-Website/issues/new?assignees=samyarsadat&labels=bug+unconfirmed&template=bug_report.md&title=">here</a>.</p>
			{% endfor %}
		</div>
	</div>
</div>

<div class="container">
	<div class="text-center mb-5 mt-3 border-light border-1 border bg-white shadow rounded-3 p-3">
		<div class="d-inline display-6" style="font-size: 30px;">Views in the past month:</div>
		<div class="text-primary d-inline display-6" style="font-size: 25px;">{{page_views}}</div>
	</div>
</div>
{% endblock %}