{% extends "base_templates/quiz_base.html" %}

{% block title %}{{_("Singleplayer Quiz")}}{% endblock %}

{% block body %}
<div class="container mt-sm-4 mt-3">
    <h5 class="d-inline">{{_("Singleplayer Quiz")}}</h5>

    {% if not info.correct_answ %}
    <div class="d-inline float-end ms-3">
        <p class="d-inline">{{_("Time Left:")}} </p>
        <p class="text-primary d-inline"><span id="timer">00:00</span></p>
    </div>
    {% endif %}

    <div class="d-inline float-end ms-3">
        <p class="d-inline">{{_("Questions Left:")}} </p>
        <p class="text-success d-inline">{{info.q_left}}</p>
    </div>

    <div class="py-sm-1 py-3"></div>
 
    {% if not info.correct_answ %}
    <div class="progress mt-4 mb-sm-2 mb-0 rounded-3" style="height: 28px;">
        <div id="timeBar" class="progress-bar progress-bar-striped progress-bar-animated bg-success shadow-dark" role="progressbar"></div>
    </div>
    {% endif %}

    <div class="container mt-5 rounded-3 border-2 border-info border shadow-info bg-white">
        <div class="p-sm-3 p-2">
            {{question.question | safe}}
        </div>
    </div>

    <form action="{{url_for("quiz_pages.singleplayer_quiz")}}" class="mt-4" method="POST">
        <div class="album">
            <div class="row row-cols-1 row-cols-md-2 g-3">
                <div class="col">
                    <{% if not info.correct_answ %}button{% else %}a{% endif %} class="btn-outline-primary btn w-100 shadow{% if info.correct_answ == "a" %}-success bg-success text-white{% endif %}{% if info.answ == "a" %}-danger bg-danger text-white{% endif %} border border-1 border-secondary p-2 {% if info.correct_answ %}disabled{% endif %}" {% if not info.correct_answ %}value="answ_a_{{info.q_left}}" type="submit" name="answ"{% endif %}>
                        {{question.answ_a | safe}}
                    </{% if not info.correct_answ %}button{% else %}a{% endif %}>
                </div>

                <div class="col">
                    <{% if not info.correct_answ %}button{% else %}a{% endif %} class="btn-outline-warning btn w-100 shadow{% if info.correct_answ == "b" %}-success bg-success text-white{% endif %}{% if info.answ == "b" %}-danger bg-danger text-white{% endif %} border border-1 border-secondary p-2 {% if info.correct_answ %}disabled{% endif %}" {% if not info.correct_answ %}value="answ_b_{{info.q_left}}" type="submit" name="answ"{% endif %}>
                        {{question.answ_b | safe}}
                    </{% if not info.correct_answ %}button{% else %}a{% endif %}>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-3 mt-1">
                <div class="col">
                    <{% if not info.correct_answ %}button{% else %}a{% endif %} class="btn-outline-danger btn w-100 shadow{% if info.correct_answ == "c" %}-success bg-success text-white{% endif %}{% if info.answ == "c" %}-danger bg-danger text-white{% endif %} border border-1 border-secondary p-2 {% if info.correct_answ %}disabled{% endif %}" {% if not info.correct_answ %}value="answ_c_{{info.q_left}}" type="submit" name="answ"{% endif %}>
                        {{question.answ_c | safe}}
                    </{% if not info.correct_answ %}button{% else %}a{% endif %}>
                </div>

                <div class="col">
                    <{% if not info.correct_answ %}button{% else %}a{% endif %} class="btn-outline-success btn w-100 shadow{% if info.correct_answ == "d" %}-success bg-success text-white{% endif %}{% if info.answ == "d" %}-danger bg-danger text-white{% endif %} border border-1 border-secondary p-2 {% if info.correct_answ %}disabled{% endif %}" {% if not info.correct_answ %}value="answ_d_{{info.q_left}}" type="submit" name="answ"{% endif %}>
                        {{question.answ_d | safe}}
                    </{% if not info.correct_answ %}button{% else %}a{% endif %}>
                </div>
            </div>
        </div>

        {% if info.correct_answ %}
        <button class="w-100 mb-2 btn btn-lg rounded-3 shadow btn-outline-dark mt-4" value="next_qstn_{{info.q_track}}" type="submit" name="next">{% if info.q_left == 0 %}{{_("Show Results")}}{% else %}{{_("Next Question")}}{% endif %}</button>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block end %}
{% if not info.correct_answ %}
<script>
    function submitNoAnsw()
    {
        var form = document.createElement("FORM");
        form.setAttribute("id", "submitOnEnd");
        document.body.appendChild(form);
        
        var button = document.createElement("INPUT");
        button.setAttribute("name", "answ");
        button.setAttribute("type", "text");
        button.setAttribute("value", "answ_NA_{{info.q_left}}");
        document.getElementById("submitOnEnd").appendChild(button);

        form.method = "POST";
        form.action = "{{url_for("quiz_pages.singleplayer_quiz")}}";
        form.submit();
    }
    
    window.onload = function () 
    {
        duration = {{info.t_left}};
        display = document.getElementById("timer");
        bar = document.getElementById("timeBar");

        var start = Date.now(), diff, minutes, seconds;
        
        function timer() 
        {
            diff = duration - (((Date.now() - start) / 1000) | 0);
    
            minutes = (diff / 60) | 0;
            seconds = (diff % 60) | 0;
    
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            percent = diff / duration * 100;
    
            bar.style.width = percent + "%";
            display.textContent = minutes + ":" + seconds; 
    
            if (diff <= 0) 
            {
                start = Date.now() + 1000;
            }

            if (minutes == "00" && seconds == "20")
            {
                display.style.color = "darkorange";

                bar.classList.remove("bg-success");
                bar.classList.add('bg-warning');
            }

            if (minutes == "00" && seconds == "10")
            {
                display.style.color = "red";

                bar.classList.remove("bg-warning");
                bar.classList.add('bg-danger');
            }

            if (minutes == "00" && seconds == "00")
            {
                submitNoAnsw();
            }
        }

        timer();
        setInterval(timer, 100);
    };
</script>
{% endif %}
{% endblock %}